.profile__info {
  display: grid;
  grid-template-columns: 1fr auto;
  column-gap: 18px;
  row-gap: 16px;
  align-items: baseline;
  max-width: 336px;
}

@media screen and (max-width: 690px) {
  .profile__info {
    grid-template-columns: 1fr 24px auto;
    justify-items: center;
    column-gap: 10px;
    row-gap: 14px;
  }
}
